.section-about {
  background-color: $color-grey-light-1;
  padding: 12rem 4rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);

  // header 95vh - 75vh (clip path)
  margin-top: -9vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}
